.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  height: 100%;

  .header{
    width: 80%;
    display: flex;
    justify-content: center;
    height: 15%;
  }

  .form-container{
    display: flex;
    width: 70%;
    border: solid 2px;
  }
  form{
    width: 100%;
  }
  .item{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
  }
  .input-class{
    width: 30%;
    height: 40px;
    border: solid 1px black;
  }
  .btn{
    width: 20%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .register-btn{
    background: whitesmoke;
  }
  .login-btn{
    background: pink;

  }
}