<div class="main-container">
  <!--Photo Listing-->

  <h3>{{ appLevelConstants.PHOTO_LISTING }}</h3>

  <div class="card-main-container">
    <div *ngIf="isLoading; else carData">
      <!--Spinner for data loading-->
      <mat-card class="loader">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>

    <!--Photo Listing cards -->
    <ng-template #carData>
      <div class="card-items">
        <mat-paginator
          #MatPaginatorCards="matPaginator"
          [pageSizeOptions]="[5, 10]"
        ></mat-paginator>

        <div class="cards">
          <mat-card class="card-layout" *ngFor="let card of obs | async">
            <img src="{{ card.url }}" alt="{{ card.title }}" />
            <div class="overflow-text" title="{{ card.title }}">
              {{ card.title }}
            </div>
            <div class="overflow-text">
              <b>{{ card.id }}</b>
            </div>
            <div class="overflow-text" title="{{ card.url }}">
              {{ card.url }}
            </div>
            <mat-card-actions>
              <button
                *ngIf="!card.is_removed; else remove"
                mat-raised-button
                color="primary"
                (click)="onCompare(card)"
              >
                {{ appLevelConstants.COMPARE }}
              </button>
              <ng-template #remove>
                <button mat-raised-button color="warn" (click)="onRemove(card)">
                  {{ appLevelConstants.REMOVE }}
                </button>
              </ng-template>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="table-container">
    <h3>{{ appLevelConstants.COMPARE_TABLE }}</h3>

    <div class="table">
      <mat-paginator
        #MatPaginatorTable="matPaginator"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
      ></mat-paginator>
      <table
        mat-table
        matSort
        [dataSource]="comparedTableData.data"
        class="mat-elevation-z8"
        style="width: 100%"
      >
        <!--Index of row-->
        <ng-container matColumnDef="INDEX">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            Photo {{ comparedTableData.data.indexOf(element) + 1 }}
          </td>
        </ng-container>

        <!--ID-->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef>
            {{ appLevelConstants.COLUMN_TITLE[1] }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!--URL-->
        <ng-container matColumnDef="URL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ appLevelConstants.COLUMN_TITLE[2] }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.url }}</td>
        </ng-container>

        <!--Title-->
        <ng-container matColumnDef="TITLE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ appLevelConstants.COLUMN_TITLE[3] | titlecase }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
